// Archivo Blog



.main-blog {
    background-image: url("../src/assets/img/fondos/fondo-definitivo.webp");
    padding-bottom: 70px;

    .titulo-blog {
        text-align: center;
        padding: 6em 0;

        h1 {
            font-family: 'Oswald', sans-serif;
            font-size: 60px;
        }

        @media screen and (max-width: 440px) {

            h1 {
                font-size: 55px;
            }
        }
    }

    section {

        div {

            padding-bottom: 40px;
            
            article {
                background-color: white;
                padding-bottom: 20px;
                font-family: 'Oswald', sans-serif;

                p {
                    font-family: 'Poppins', sans-serif;
                }

                img {
                    width: 500px;
                }

                @media screen and (max-width: 440px) {

                    img {
                        width: 100%;
                    }
                }
                
                .ver-mas-blog {
                    color: black;
                    font-family: 'Oswald', sans-serif;
                    font-size: 20px;
                    text-decoration: none;
                    border: 1.5px solid;
                    padding: 3px 25px;

                    &:hover {
                        background-color: #1d8f00;
                        opacity: 0.8;
                        border: 1.5px solid #1d8f00;
                        opacity: 0.8;
                        color: white;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}
