// Archivo Empresa


.main-empresa {
    background-image: url("../src/assets/img/fondos/fondo-definitivo.png");

    .section-info {
        padding: 80px 20px;

        .section-animacion {
            margin: 0;
            display: table;

            .texto-animado {
                color: rgb(250, 250, 250);
                position: relative;
                margin-left: 345px;
                margin-bottom: 90px;
                font-size: 60px;
                background-color: #1d8f00;
                opacity: 0.8;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                padding: 0;

                span {
                    position: absolute;
                    right: 0;
                    width: 0;
                    background-color: white;
                    
                    animation: escribir-solo 3s infinite alternate;
                }

                @keyframes escribir-solo {
                    from {
                        width: 100%;
                    }
                
                    to {
                        width: 0;
                    }
                }
            }



            @media screen and (max-width: 440px) {
                
                .texto-animado {
                    margin-left: 0;
                    text-align: center;
                }
            }
        }
        
        .info {
            color: #1d8f00;
            font-size: 45px;
            font-family: 'Oswald', sans-serif;
            margin-left: 50px;
        }
    
        .parrafo-info {
            text-align: justify;
            color: black;
            font-size: 25px;
            font-family: 'Poppins', sans-serif;
            margin: 40px 0 15px 20px;
        }

        @media screen and (max-width: 440px) {

            .parrafo-info {
                margin-left: 0;
            }
        }
    }

    .section-empresa {
        background-color: rgb(25, 48, 54, .3);
        padding-bottom: 90px;
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;


        div {

            .subtitulos{
                color: black;
                font-size: 25px;
                font-family: 'Oswald', sans-serif;
                padding-bottom: 40px;
                padding-top: 30px;
                text-align: center;
            }

            .parrafo-info2 {
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
                color: black;
                padding-bottom: 30px;
            }

            #vis-val:nth-child(2) {
                padding-left: 80px;
            }

            #vis-val{
                color: black;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                list-style: disc;
            }
        }
    }
}