// Footer


.footer {
    background-color: #193036;
    padding: 5rem 0;

    div {

        div {

            section {

                .redes {
                    color: #D7E399;
                    font-size: 29px;
                    font-family: 'Oswald', sans-serif;
                }

                .margen1 {
                    padding-top: 2.5em;
                    font-size: 17px;
                    font-family: 'Oswald', sans-serif;
                    color: #F4F5F9;

                    svg {
                        color: #D7E399;
                    }
                }

                .margen2 {
                    padding-top: 1rem;
                    font-size: 17px;
                    font-family: 'Oswald', sans-serif;
                    color: #F4F5F9;

                    svg {
                        color: #D7E399;
                    }
                }
            }
        }
    }
}